[user]
	name = hjc2000
	email = 96368006+hjc2000@users.noreply.github.com
[color]
	ui = auto
[safe]
	directory = *
[http]
	sslverify = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[submodule]
	# 使得所有支持 --recurse-submodules 选项的命令都默认加上改选项。
	# 此选项是用来将操作递归到子模块中的。例如：拉取操作、更新操作
	recurse = true
[core]
	editor = notepad
	autocrlf = false
	ignorecase = false
	symlinks = true
	longpaths = true
[credential]
	helper = store
